.header__container {
    padding:20px;
    background-color:whitesmoke;
    display:flex;
    flex:1;
    flex-direction:row;
    justify-content:space-between;
}




@media (min-width: 769px) {
    .header__mobile_button {
        display:none;
    }
}

@media (max-width: 769px ) {
    .header__nav {
        visibility: hidden;
    }
}